@import url(//db.onlinewebfonts.com/c/84ae358e627d67d90bd613fcedc20c10?family=Edwardian+Script+ITC);

@font-face {
  font-family: "Edwardian Script ITC";
  src: url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.eot");
  src: url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/84ae358e627d67d90bd613fcedc20c10.svg#Edwardian Script ITC") format("svg");
} 

.p1 {
  padding: 0;
  text-align: center;
  font-family: "Edwardian Script ITC";
  font-size: 80px;
}

.p2 {
  padding: 0;
  text-align: center;
  font-family: "Edwardian Script ITC";
  font-size: 60px;
}

.bottom {
  padding: 0;
  position: fixed;
  font-family: "Edwardian Script ITC";
  font-size: 40px;
  bottom: 0;
}

body {
  background: #FFC0CB;
}

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
